.eventNameInput {
  width: 100%;
}

.commentInput {
  width: 100%;
}

.btns {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 10px 5px;
}

.btn:nth-last-child(1) {
  margin-right: 0px;
}

.modalBody {
  position: absolute;
  left: 40%;
  top: 10%;
  width: 400px;
  background-color: #5befa7;
  padding: 15px;
}

.id {
  text-align: center;
}

.tags {
  text-align: center;
}

.tagArea {
  display: inline-block;
  text-align: left;
  margin: 0px;
}

.tag {
  color: #3f51b5;
  font-weight: bold;
}

.date {
  text-align: center;
}

.btnModal {
  margin: 10px 5px;
}

.btnModal:nth-last-child(1) {
  margin-right: 0px;
}

.formContent {
  margin-top: 20px;
}

.comment {
  white-space: pre;
  margin-top: 20px;
}

.url {
  margin-top: 20px;
}

.link {
  color: #3f51b5;
  text-decoration: underline;
}

.btnsInModal {
  display: flex;
  float: right;
}
