table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
  margin-bottom: 50px;
}

.tableHeader {
  border-bottom: 1px solid #000;
}

.tableHeaderID {
  width: 5%;
}

.tableHeaderBtns {
  width: 15%;
  float: right;
}
