.contents {
  width: 100%;
}

label {
  font-weight: bold;
}

.formContent {
  margin-top: 20px;
}

.eventNameInput {
  width: 100%;
}

.commentInput {
  width: 100%;
}

.btnArea {
  text-align: center;
  margin-top: 15px;
}

.registerBtn {
  width: 100%;
}

.requiredMark {
  color: red;
}

.modalBody {
  position: absolute;
  top: 10%;
  margin: 0 auto;
  left: 10%;
  right: 10%;
  width: 80%;
  background-color: #5befa7;
  padding: 15px;
}
