.eventNameInput {
  width: 100%;
}

.commentInput {
  width: 100%;
}

.btns {
  display: flex;
  float: right;
}

.btn {
  margin: 10px 5px;
}

.modalBody {
  position: absolute;
  left: 40%;
  top: 30%;
  width: 400px;
  background-color: #5befa7;
  padding: 15px;
}

.id {
  text-align: center;
}

.date {
  text-align: center;
}

.btnModal {
  margin: 10px 0;
}

.formContent {
  margin-top: 20px;
}

.requiredMark {
  color: red;
}
