.total {
  height: 100vh;
  width: 100%;
}

.side {
  border-right: 1px solid #000;
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

.sideNavi {
  display: flex;
  height: 100%;
}

.navi {
  padding: 15px;
  border-bottom: 1px solid #000;
}
