.total {
  position: absolute;
  height: 100%;
  width: 100%;
}

.side {
  width: 10%;
  background-color: #5befa7;
  border-right: 1px solid #3fa774;
}

a {
  text-decoration: none;
  color: #000;
}

.sideNavi {
  display: flex;
  min-height: 100vh;
}

.navi {
  padding: 15px;
  border-bottom: 1px solid #3fa774;
}

.activeNavi {
  font-weight: bold;
  color: #0097a7;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0%;
  padding: 0 15px;
}
